/* src/app/pages/login/login.css */
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px); /* Altura da viewport menos a altura da navbar */
}

.auth-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  padding: 32px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 24px;
}
