.filters-row {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
}

.filters-row mat-form-field {
  flex-grow: 1;
}

.products-container {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 1rem;
}

.products-grid {
  display: grid;
  /* Cria um grid com colunas flexíveis, no mínimo 300px. Isso se ajusta a 3 colunas em telas grandes e para menos em telas menores. */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem; /* Espaçamento entre os cards */
  justify-items: center;
  margin-top: 2rem;
}

.product-card {
  width: 100%;
  max-width: 350px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  height: 200px; /* **Altura fixa** para todas as imagens */
  /* Ajusta a imagem dentro do espaço, sem cortar, e adiciona um fundo. */
  object-fit: contain;
  background-color: #f3f2f1;
  border-radius: 8px 8px 0 0;
}

mat-card-header {
  padding: 1rem;
  text-align: left;
}

mat-card-title {
  font-size: 1.1rem;
  font-weight: 600;
  color: #005a9e;
  margin-bottom: 0.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

mat-card-subtitle {
  font-size: 1rem;
  color: #252423;
  font-weight: normal;
}

.card-actions {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem 1rem 1rem;
  margin-top: auto;
}

.product-stock {
  display: flex;
  gap: 8px;
}

.product-stock > mat-icon {
  color: var(--mat-button-text-label-text-color, var(--mat-sys-primary));
}

/* Responsividade: para telas menores, o grid muda para uma coluna */
@media (max-width: 768px) {
  .products-grid {
    grid-template-columns: 1fr;
  }
}
