<div class="auth-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h2>Login</h2>
    <mat-form-field appearance="outline">
      <mat-label>E-mail</mat-label>
      <input matInput formControlName="email" />
      <mat-error *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
        >E-mail inválido</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Senha</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
        >Mínimo de 6 caracteres</mat-error
      >
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
      Entrar
    </button>
    <a mat-button routerLink="/register">Ainda não tem conta? Crie uma!</a>
  </form>
</div>
