<mat-toolbar color="primary" class="navbar-custom">
  <div class="logo">
    <a routerLink="/">VendaTech</a>
  </div>
  <span class="spacer"></span>
  <div class="nav-links">
    <a mat-button routerLink="/products">Produtos</a>
    <a mat-button routerLink="/cart">
      <span class="nav-icon-wrapper">
        <mat-icon>shopping_cart</mat-icon>
      </span>
      Carrinho
    </a>

    <ng-container *ngIf="!(isLoggedIn$ | async)">
      <a mat-button routerLink="/login" class="oval-button">Login</a>
      <a mat-raised-button color="accent" routerLink="/register" class="oval-button">Criar Conta</a>
    </ng-container>

    <ng-container *ngIf="isLoggedIn$ | async">
      <ng-container *ngIf="currentUser$ | async as user; else loadingUser">
        <button mat-button class="user-menu-button" [matMenuTriggerFor]="userMenu">
          <span class="nav-icon-wrapper">
            <mat-icon>account_circle</mat-icon>
          </span>
          {{ user.name }}
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
      </ng-container>

      <ng-template #loadingUser>
        <button mat-button class="user-menu-button" disabled>
          <span class="nav-icon-wrapper">
            <mat-icon>account_circle</mat-icon>
          </span>
          Carregando...
        </button>
      </ng-template>

      <mat-menu #userMenu="matMenu">
        <button mat-menu-item routerLink="/profile">
          <mat-icon>person</mat-icon>
          Meu Perfil
        </button>
        <button mat-menu-item routerLink="/orders">
          <mat-icon>shopping_bag</mat-icon>
          Minhas Compras
        </button>

        <ng-container *ngIf="currentUser$ | async as user">
          <button mat-menu-item routerLink="/my-products" *ngIf="user?.isAdmin">
            <mat-icon>inventory</mat-icon>
            Meus Produtos
          </button>
          <button mat-menu-item routerLink="/admin" *ngIf="user?.isAdmin">
            <mat-icon>admin_panel_settings</mat-icon>
            Painel Admin
          </button>
        </ng-container>

        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          Sair
        </button>
      </mat-menu>
    </ng-container>
  </div>
</mat-toolbar>
