<mat-toolbar color="primary" class="navbar-custom">
  <div class="logo">
    <a routerLink="/">SalesApp</a>
  </div>
  <span class="spacer"></span>
  <div class="nav-links">
    <a mat-button routerLink="/products">Produtos</a>
    <a mat-button routerLink="/cart"> <mat-icon>shopping_cart</mat-icon> Carrinho </a>
    
    <!-- Usuário não logado -->
    <ng-container *ngIf="!(isLoggedIn$ | async)">
      <a mat-button routerLink="/login">Login</a>
      <a mat-raised-button color="accent" routerLink="/register">Criar Conta</a>
    </ng-container>
    
    <!-- Usuário logado -->
    <ng-container *ngIf="isLoggedIn$ | async">
      <button mat-button [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon>
        {{ (currentUser$ | async)?.name }}
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item routerLink="/profile">
          <mat-icon>person</mat-icon>
          Meu Perfil
        </button>
        <button mat-menu-item routerLink="/my-products" *ngIf="(currentUser$ | async)?.isAdmin">
          <mat-icon>inventory</mat-icon>
          Meus Produtos
        </button>
        <button mat-menu-item routerLink="/admin" *ngIf="(currentUser$ | async)?.isAdmin">
          <mat-icon>admin_panel_settings</mat-icon>
          Painel Admin
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          Sair
        </button>
      </mat-menu>
    </ng-container>
  </div>
</mat-toolbar>
