<div class="cart-container">
  <h2>Seu Carrinho</h2>
  <ng-container *ngIf="cartItems$ | async as cartItems">
    <mat-card *ngIf="cartItems.length === 0" class="empty-cart-message">
      <p>Seu carrinho está vazio.</p>
    </mat-card>

    <div class="cart-items" *ngIf="cartItems.length > 0">
      <mat-card *ngFor="let item of cartItems" class="cart-item-card">
        <div class="item-info">
          <img [src]="item.image" alt="Imagem do produto" class="item-image" />
          <div class="details">
            <h3>{{ item.name }}</h3>
            <p class="price">{{ item.price | brazilianCurrency }}</p>
            <div class="quantity-control">
              <button mat-icon-button (click)="updateQuantity(item._id!, -1)">
                <mat-icon>remove</mat-icon>
              </button>
              <span>{{ item.quantity }}</span>
              <button mat-icon-button (click)="updateQuantity(item._id!, 1)">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <div class="item-actions">
          <button mat-icon-button color="warn" (click)="removeFromCart(item._id!)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-card>

      <mat-card class="cart-summary">
        <h3>Resumo do Pedido</h3>
        <p>Total: <strong>{{ (cartTotal$ | async) | brazilianCurrency }}</strong></p>
        
        <div class="cart-actions">
          <button mat-raised-button color="primary" (click)="proceedToPayment()" 
                  [disabled]="(cartItems$ | async)?.length === 0">
            <mat-icon>payment</mat-icon>
            Finalizar Compra
          </button>
          
          <button mat-button color="warn" (click)="clearCart()">
            <mat-icon>delete_sweep</mat-icon>
            Limpar Carrinho
          </button>
        </div>
      </mat-card>
    </div>
  </ng-container>
</div>
